{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ title }}{% endblock head_title %}
{% block content %}
<div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        {{ title }}
    </h2>
    <div class="container mx-auto max-w-xl">
        <form action="" method="post">
            {% csrf_token %}
            
            {% if pickup_by %}
                <label class="block text-sm">Picup Rider:
                    <select name="pickup_by" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                        <option value=''>select rider</option>
                        {% for rider in pickup_by %}
                            <option value="{{rider.id}}">{{rider}}</option>
                        {% endfor %}
                    </select>
                </label>
            {% else %}
                <label class="block text-sm">Rider not avilable
                    <select name="pickup_by" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                        <option value=''>Add rider</option>
                    </select>
                </label>
            {% endif %}

            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.percel.label }}</span>
                {{ form.percel }}
            </label>

            <!-- {% if percel %}
                <label class="block text-sm">Picup Percel:
                    <select name="pickup_by" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                        <option value=''>select percel</option>
                    {% for p in percel %}
                        <option value="{{p.id}}">{{p}}</option>
                    {% endfor %}
                    </select>
                </label>
            {% else %}
                <label class="block text-sm">Picup percel:
                    <select name="pickup_by" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                        <option value=''>add percels</option>
                    </select>
                </label>
            {% endif %} -->
            <button
                class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                type="submit">
                Percel Delivery
            </button>
        </form>
    </div>
</div>
{% endblock content %}