{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ title }}{% endblock head_title %}
{% block content %}
<div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        {{ title }}
    </h2>
    <div class="container mx-auto max-w-xl">
        <form action="" method="post">
            {% csrf_token %}
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.customer_name.label }}</span>
                {{ form.customer_name }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.customer_phone_number.label }}</span>
                {{ form.customer_phone_number }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.customer_address.label }}</span>
                {{ form.customer_address }}
            </label>
            <!-- <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.pickup_location.label }}</span>
                {{ form.pickup_location }}
            </label> -->
            {% if pickup_location %}
                <label class="block text-sm">Picup Location:
                    <select name="pickup_location" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                        <option value=''>select location</option>
                    {% for location in pickup_location %}
                        <option value="{{location.id}}">{{location}}</option>
                    {% endfor %}
                    </select>
                </label>
            {% endif %}
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.parcel_weight.label }}</span>
                {{ form.parcel_weight }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.delivery_location.label }}</span>
                {{ form.delivery_location }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.product_selling_price.label }}</span>
                {{ form.product_selling_price }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.product_category.label }}</span>
                {{ form.product_category }}
            </label>
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{ form.description.label }}</span>
                {{ form.description }}
            </label>
            <button
                class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                type="submit">
                Create Percel
            </button>
        </form>
    </div>
</div>
{% endblock content %}